@tailwind base;
@tailwind components;
@tailwind utilities;

.selection-off {
    -webkit-user-select: none;
    /* Chrome, Safari, Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* Standard syntax */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-sb::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-sb {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.btn-container {
    @apply py-[10px] px-[15px];
}

.btn-orange {
    @apply bg-[#FFCE22] rounded px-5 py-[10px] w-[340px] h-10;
}

.btn-orange:hover {
    @apply bg-[#FFD84D];
}

.btn-orange:active {
    @apply bg-[#FFCE22];
}

.check-tab {
    @apply px-[22px] py-2 flex w-[370px] items-center justify-between cursor-pointer h-[42px];
}

.custom-cb {
    @apply appearance-none w-[23px] h-[23px] border border-[#CDCDCD] rounded-md bg-white shrink-0 cursor-pointer checked:bg-[#2469F6] checked:border-[#2469F6];
}

.check-tab:hover .custom-cb {
    @apply border-[#BDBDBD] checked:bg-[#5087F8] checked:border-[#5087F8];
}

.check-tab:hover .peer-hover {
    @apply block;
}

.check-tab:active .custom-cb {
    @apply outline outline-[3px] outline-[rgba(36,105,246,0.1)];
}

.modal {
    @apply py-[10px] rounded-md bg-white border border-[#EEEEEE] shadow-custom text-sm text-[#1F2128] leading-[18.2px];
}

.divider-container {
    @apply py-[10px] px-[15px];
}

.divider {
    @apply h-[0.7px] bg-[#CDCDCD];
}

.pages-container {
    @apply max-h-[168px] overflow-y-auto hide-sb;
}